[Unit]
Description=Apache Kafka Mirror Maker Process {{ item }}
After=syslog.target network.target

[Service]
Type=simple
User={{ kafkaUser }}
Group={{ kafkaGroup }}

ExecStart={{ kafkaInstallDir }}/kafka/bin/kafka-mirror-maker-{{ item }}.sh \
--consumer.config {{ kafkaInstallDir }}/kafka/config/kafka-mirror-maker-consumer.properties \
--producer.config {{ kafkaInstallDir }}/kafka/config/kafka-mirror-maker-producer.properties \
--whitelist '{{ kafkaMirrorMakerReplicateTopicWhiteListPattern }}'\
--abort.on.send.failure false

TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target